/* background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url(../images/background1.jpg) no-repeat center center fixed;

 */



 /* .img-card{
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),
    url(./assets//bg/4.jpg) no-repeat center center ;
 } */


 .img-card{
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6) ),
    url(./assets//bg/4.jpg) no-repeat center center ;
 }
 .img-card:hover {
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4) ),
    url(./assets//bg/4.jpg) no-repeat center center ;
 }



 